#footer{
	background: #e8e8e8;
	margin-top: 25px;
	height:55px;//80

	#logo-footer,#copy{
		float: left;
		width: 50%;
	}
	#logo-footer{
		margin-top: 11px;
	}
	#copy{
		p{
			color: #6e6e6e;
			text-align: right;
			line-height:55px;//antes 6
			font-size: 0.8em;
		}
	}

}